<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.cradle"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application android:label="@string/app_name" android:icon="@drawable/mainmenu_icon_homemount">
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".CradleMain" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="locale|orientation">
            <meta-data android:name="android.dock_home" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>
        <activity android:label="@string/cradle_home_settings" android:name=".CradleHomeSettings" android:launchMode="singleTask" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>
        <activity android:label="@string/APKTOOL_DUMMY_002a" android:name=".CradleWeatherSettings" android:launchMode="singleTask" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>
        <activity android:label="@string/pick_wallpaper" android:name=".CradleWallpaperChooser" android:screenOrientation="nosensor" android:configChanges="locale" android:finishOnCloseSystemDialogs="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
    <uses-feature android:name="samsung.feature.octa" />
</manifest>
