out/
tmp/
src/framework-res/build
src/framework-res/dist
src/android.policy.jar.out/build
src/android.policy.jar.out/dist
src/android.policy.jar.out-Player/build
src/android.policy.jar.out-Player/dist
src/framework.jar.out/build
src/framework.jar.out/dist
src/framework-res-sbrissenmeter/build
src/framework-res-sbrissenmeter/dist
src/framework-res-stockbatterymeter/build
src/framework-res-stockbatterymeter/dist
src/services.jar.out/build
src/services.jar.out/dist
src/AxT9IME/build
src/AxT9IME/dist
src/Browser/build
src/Browser/dist
src/BrowserEH03/build
src/BrowserEH03/dist
src/Camera/build
src/Camera/dist
src/CarCradle/build
src/CarCradle/dist
src/CarCradleEH03/build
src/CarCradleEH03/dist
src/DeskCradle/build
src/DeskCradle/dist
src/DeskCradleEH03/build
src/DeskCradleEH03/dist
src/DialerTabActivity/build
src/DialerTabActivity/dist
src/JobManager/build
src/JobManager/dist
src/MusicPlayer/build
src/MusicPlayer/dist
src/Phone-Player/build
src/Phone-Player/dist
src/Settings/build
src/Settings/dist
src/Settings-Player/build
src/Settings-Player/dist
src/SettingsProvider/build
src/SettingsProvider/dist
src/SettingsProvider-Player/build
src/SettingsProvider-Player/dist
src/SystemUI/build
src/SystemUI-Player/dist
src/SystemUI-Player/build
src/SystemUI/dist
src/TouchWiz30Launcher/build
src/TouchWiz30Launcher/dist
src/TouchWiz30LauncherEH03/build
src/TouchWiz30LauncherEH03/dist
src/TwWallpaperChooser/build
src/TwWallpaperChooser/dist

