<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.sec.android.app.videoplayer"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DRM" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="android.permission.ACCESS_DEV_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:label="@string/app_name" android:icon="@drawable/video">
        <provider android:name=".provider.VideoProvider" android:authorities="SecVideo" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="@string/app_name" android:name=".activity.VideoList" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:label="@string/app_name" android:name=".activity.VideoListNoSdActivity" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/MoviePlayerTheme" android:label="@string/app_name" android:name=".activity.MoviePlayer" android:launchMode="singleInstance" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/x-ms-asf" />
                <data android:mimeType="video/x-ms-wmv" />
                <data android:mimeType="video/flv" />
                <data android:mimeType="video/mkv" />
                <data android:mimeType="video/divx" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="video/vnd.ms-playready.media.pyv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/x-ms-asf" />
                <data android:mimeType="video/x-ms-wmv" />
                <data android:mimeType="video/flv" />
                <data android:mimeType="video/mkv" />
                <data android:mimeType="video/divx" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="video/vnd.ms-playready.media.pyv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sshttp" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/x-ms-asf" />
                <data android:mimeType="video/x-ms-wmv" />
                <data android:mimeType="video/flv" />
                <data android:mimeType="video/mkv" />
                <data android:mimeType="video/divx" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="video/vnd.ms-playready.media.pyv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sphttp" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/x-ms-asf" />
                <data android:mimeType="video/x-ms-wmv" />
                <data android:mimeType="video/flv" />
                <data android:mimeType="video/mkv" />
                <data android:mimeType="video/divx" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="video/vnd.ms-playready.media.pyv" />
            </intent-filter>
        </activity>
        <activity-alias android:name=".VODPlayer" android:targetActivity=".activity.MoviePlayer">
            <intent-filter>
                <action android:name="com.pv.vzw.intent.action.VOD_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.pv.vzw.intent.action.VOD_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.pv.vzw.intent.action.VOD_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.pv.vzw.intent.action.VOD_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
            </intent-filter>
        </activity-alias>
        <receiver android:name=".receiver.VideoBTReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="BluetoothA2dp.ACTION_SINK_STATE_CHANGE" />
                <action android:name="android.bluetooth.a2dp.action.SINK_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DockEventsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.CAR_DOCK" />
            </intent-filter>
        </receiver>
        <service android:name=".service.MoviePlaybackService" class=".MoviePlaybackService" />
        <uses-library android:name="touchwiz" />
        <uses-library android:name="sec_feature" />
        <uses-library android:name="sechardware" />
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
</manifest>
