<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.1.1" package="com.android.music"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_DRM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_DEV_STORAGE" />
    <application android:theme="@touchwiz:style/TwTheme" android:label="@string/app_name" android:icon="@drawable/homescreen_icon_musicplayer">
        <meta-data android:name="android.app.default_searchable" android:value=".list.activity.MpSearchResultActivity" />
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:name=".list.activity.MpListActivity" android:configChanges="keyboardHidden|orientation|uiMode" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:name=".list.activity.MpPlayListActivity" android:configChanges="keyboardHidden|orientation|uiMode" android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar" android:name=".list.activity.MpMainTabActivity" android:configChanges="keyboardHidden|orientation|uiMode" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias android:name="MusicBrowserActivity" android:targetActivity=".list.activity.MpMainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".list.activity.MpSearchResultActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".common.richinfo.RichInformationMainActivity" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/MusicPlayerTheme" android:label="@string/app_name" android:name=".player.activity.MusicPlayer" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="sec.musicplayer.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.android.music/launchplayer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.android.music/search" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="com.android.music/playlist" />
            </intent-filter>
        </activity>
        <service android:name=".player.service.CorePlayerService" android:exported="true" class=".CorePlayerService" />
        <receiver android:name=".player.receiver.BluetoothIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.bluetooth.a2dp.action.SINK_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".player.receiver.HeadsetIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/app_name" android:name=".common.util.PopupBg" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:name=".common.util.DrmPopupActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".common.settings.MusicSettings" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".common.settings.MusicSettingsEffect" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".common.settings.MusicSettingsEqualizer" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".common.settings.MusicSettingsMusicMenu" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:label="@string/app_name" android:name=".discplus.activity.DiscPlus" android:launchMode="singleTop" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <uses-library android:name="touchwiz" />
        <uses-library android:name="sec_feature" />
        <uses-library android:name="sechardware" />
        <activity android:name=".list.activity.MpListFileEmptyActivity" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:label="DrmPopup" android:name=".common.util.DrmPopup" />
        <activity android:name=".list.activity.MediaPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/audio" />
            </intent-filter>
        </activity>
        <activity android:name=".list.activity.MpListReorderActivity" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".common.settings.MusicSettingsMusicMenuReorderActivity" android:configChanges="keyboardHidden|orientation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>
